<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("f40d32b1-6af3-4e83-9c26-e1bb872c79ae");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
